@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.main-header {
    width: 100%;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
}

.main-nav {
    font-family: 'Inter', sans-serif !important;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.sgsd-redirect {
    text-decoration: none;
    color: #545454;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    letter-spacing: -0.050em;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

.sgsd-redirect:hover {
    color: #45a049 !important; /* Changed hover color to a different shade */
    text-decoration: none; /* Added underline effect on hover */
}

.logo {
    height: 40px;
    width: auto;
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.login-container {
    padding: 3rem;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.logo-container {
    display: flex;
    justify-content: left;
    margin-bottom: 0.2rem;
}
.logo-container .logo {
    height: 60px;
    width: auto;
}

.main-heading {
    color: #545454;
    text-align: left;
    margin-bottom: 0.5rem;
    letter-spacing: -0.10rem;
    font-weight: 800;
}

.sub-heading {
    color: #787878;
    text-align: left;
    margin-bottom: 3rem;
}

/* Form Group Controller for Login, Forgot Password, and New Password */

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #545454;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.form-group input:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Form Group for Signup */

.form-group-signup {
    display:grid;
    max-width: 600px; 
}

.form-group-signup-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group-signup,
.form-field-signup {
    margin-bottom: 1.5rem;
}

.form-group-signup label {
    display: block;
    color: #545454;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.form-group-signup input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.form-group-signup input:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Form group select */

.form-field-signup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: #333;
}

.form-field-signup label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field-signup select {
    padding: 1em;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    transition: border-color 0.3s ease;
}

.form-field-signup select:focus {
    border-color: #4caf50;
    outline: none;
}

/* Button Group */

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-btn {
    background-color: #6fa062;
    color: white;
    padding: 1.4rem;
    border: none;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.forgot-btn {
    background: none;
    border: none;
    color: #9cb297;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.forgot-btn:hover {
    color: #45a049;
}

.signup-btn {
    background: none;
    border: none;
    color: #9cb297;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.signup-btn:hover {
    color: #45a049;
}

.signup-cont-btn {
    background-color: #6fa062;
    color: white !important;
    padding: 1.4rem;
    border: none;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.signup-cont-btn:hover {
    background-color: #45a049;
    text-decoration: underline;
}


.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    color: #545454;
    opacity: 0.5;
}

.request-btn {
    background-color: #6fa062;
    color: white;
    padding: 1.4rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.request-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.add-stck-cancel-btn,
.back-btn {
    background-color: #f1fdee;
    border: none !important;
    color: #ffffff;
    cursor: pointer;
    padding: 1.4rem;
    border-radius: 12px;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.06rem;
    color: #6fa062 !important;
    transition: background-color 0.3s;
}

.back-btn:hover {
    color: #45a049;
    background-color: #d7fcca;
}

/* Sidebar for Dashboard */

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; 
    top: 0;
    left: 0;
    background-color: #f2f4f0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15); /* Add shadow */
  }

  .sidebar-items {
     /* Use up all available space except for the top padding */
    overflow: hidden; /* Enable vertical scroll if content exceeds height */
  }
  
  /* The sidebar links */
  .sidebar-items a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #414141;
    display: block;
    transition: 0.3s;
    letter-spacing: -0.045em;
  }

.sangabrielsoftdrinksdeliverytitledonotchangethisclassnamelol {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #414141;
    display: block;
    transition: 0.3s;
    letter-spacing: -0.045em;  
}

.sangabrielsoftdrinksdeliverytitledonotchangethisclassnamelol:hover {
    color: #3e6b32;
}

.sidebar-item a {
    display: flex;
    align-items: center; /* Aligns icon and text vertically */
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Adjust text color as needed */
    font-size: 16px;
    margin-bottom: 12px;
}

.sidebar-item i {
    margin-right: 8px; /* Adds spacing between icon and text */
    vertical-align: middle;
}

  /* When you mouse over the navigation links, change their color */
  .sidebar-items a:hover {
    background-color: #252525;
    color: #fff;
    padding: 16px;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none !important;
    color: #252525 !important;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    /* background-color: #111; */
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

.sidebar-usr {
    padding: 0px 16px 0px 16px;
    display: flex;
    
}

.sidebar-usr img {
    width: 45px;
    height: 45px;
    border-radius: 50%; /* Make it circle */
    object-fit: cover; /* Auto crop */
}

.sidebar-usrname {
    margin-left: 10px;
    letter-spacing: -0.025em !important;
    white-space: normal;
    overflow-wrap: break-word; /* Allow long text to wrap */
    flex: 1; /* Occupy all remaining flex space */
}

.sidebar-usrname h1 {
    font-size: 1.2em !important;
    font-weight: 700;
    width: 75%;
    line-height: 1.2; /* Adjust line height for better spacing */
}

.sidebar-usrname h2 {
    font-size: 0.8em; /* Removed !important for better specificity control */
    width: 65%;
    line-height: 1.2; /* Adjust line height for better spacing */
}

.sidebar-options {
    padding: 10px 0; /* Add padding for spacing */
    display: flex;
    justify-content: center; /* Center the sidebar options */
    align-items: center; /* Center items vertically */
    gap: 6px; /* Add gap between sidebar options */
    margin-top: 8px;
}
.sidebar-items-button {
    display: flex; /* Ensure flex properties are applied */
    justify-content: center;
    align-items: center; /* Align icon and text vertically */
    text-decoration: none; /* Removes underline from links */
    color: #ffffff !important; /* Adjust text color as needed */
    font-size: 12px;
    letter-spacing: -0.050em !important;
    border-radius: 32px;
    padding: 12px; /* Equal padding for consistent size */
    background-color: #6fa062;
    width: 100%; /* Equal width for all buttons */
    transition: transform 0.3s; /* Smooth background color and scale transition */
}
.sidebar-items-button:hover {
    transform: scale(1.05); /* Scale up on hover */
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* Dashboard */

.app-header {
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
}

.app-nav {
    font-family: 'Inter', sans-serif !important;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.sidebar-btn {
    align-items: center;
    justify-content: center; /* Center the content */
    background-color: #FFF;
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height to make it a square */
    border-radius: 100px; /* Rounded corners */
    display: flex; /* Ensure that align-items works */
    text-decoration: none;
    color: #000;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.tooltip-btn {
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height to make it a square */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Ensure that align-items works */
    justify-content: center; /* Center the content */
    justify-self: end; /* Align the button to the right of the grid cell */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

body.dashboard {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
    transition: margin-left 0.3s ease;
}

#main {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.sidebar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
}

.dashboard-title .btn-group {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

/* When the sidebar is open */
.sidebar-open .dashboard-title .btn-group {
    margin-left: 275px;
}

.dashboard-title {
    padding: 32px;
}

.dashboard h1 {
    font-size: 1.8em;
}

/* Hide the default radio button circle */
input[type="radio"].btn-check {
    display: none;
}

/* Style the labels to look like buttons */
input[type="radio"].btn-check:checked + label {
    background-color: #6b9d61; /* Active color */
    color: white;
    border-color: #6b9d61;
    z-index: 999;
}

input[type="radio"].btn-check + label {
    border-color: #6b9d61;
    color: #6b9d61;
    z-index: 999;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style when hovered */
input[type="radio"].btn-check + label:hover {
    border-color: #6b9d61;
    background-color: #6b9d61; /* Hover color */
    color: white;
    z-index: 999;

}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #f4f9f8;
    z-index: 999;
    position: relative; /* Ensure the container does not overlap */
}

.btn-group .btn {
    color: #6F6F6F;
    width: 100%; /* Make buttons stretch to fit the container */
    text-align: center;
    padding: 0.5rem 1rem;
}
.input[type="radio"].btn-check:checked + label {
    border-radius: 5px;
}
.dashboard-summary {
    display: grid;
    padding: 0px 32px 0px 32px;
    margin-bottom: 1.5em;
}

/* Column styling */

/* Grid container */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: 2px solid #333; /* Border for the entire grid container */
    padding: 10px; /* 25px for top/bottom, 10px for left/right */
}

/* Individual grid items */
.parent > div {
    border: 2px solid #333; /* Border for each grid item */
    padding: 100px 10px; /* 25px for top/bottom, 10px for left/right */
    text-align: center;
    background-color: #f4f4f4;
}

.div4 {
    grid-column: span 2 / span 2;
}

.div5 {
    grid-column-start: 3;
}

.dashboard-top {
    display: flex;
    padding: 0px 32px 0px 32px;
    font-size: 0.8em;
}

.dashboard-top-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 0px 32px 32px 32px;
}

.dashboard-top-grid > div {
    border: 2px solid #333; /* Border for each grid item */
    padding: 100px 10px; /* 25px for top/bottom, 10px for left/right */
    text-align: center;
    background-color: #f4f4f4;
}

/* Manage Stocks */
.mng-stck, 
.mng-stck-title {
    display: block;
    overflow-y: scroll;
}

.mng-stck-title {
    padding: 0px 32px 0px 32px;
    letter-spacing: -0.065rem;
    color: #252525;
}

.mng-stck-title h3 {
    font-size: 1.0em;
    color: #6F6F6F !important;
    font-weight: 300;
    letter-spacing: 0em;
}

.mng-stck-search {
    padding: 12px 32px 0px 32px;
    display: flex;
}

.mng-stck-search input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.mng-stck-search input:focus {
    outline: none;
    border-color: #4CAF50;
}

.mng-stck-search button {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 58px; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.mng-stck-inv {
    margin: 12px 32px 12px 32px ;
    padding: 12px 32px 12px 32px;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    border-radius: 16px;
    height: 38em;
    overflow-y: scroll;
}

.mng-stck-item {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: 1px solid #4CAF50;
    border-radius: 12px;
}

.mng-stck-item-div-1 {
    grid-row: span 2 / span 2;
    padding: 12px 32px 12px 32px;
    border: 1px solid #4CAF50;
}

.mng-stck-item-div-3 {
    grid-column-start: 2;
}

.mng-stck-add-btn {
    background-color: #6fa062;
    color: white;
    margin: 16px auto;
    padding: 1.0rem;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.mng-stck-add-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.product-quantity input {
    margin-bottom: 8px !important;
}

/* Add Stocks */
.add-stck, 
.add-stck-title {
    display: block;
    overflow: scroll;
    margin-top: 16px;
}

.add-stck-title {
    padding: 0px 32px 0px 32px;
    letter-spacing: -0.065rem;
    color: #252525;
}

.add-stck-title h3 {
    font-size: 1.0em;
    color: #6F6F6F !important;
    font-weight: 300;
    letter-spacing: 0em;
}

.add-stck-input {
    padding: 12px 32px 0px 32px;
    display: grid;
}

.add-stck-input input, 
.add-stck-input select {
    width: 100%;
    margin-bottom: 24px;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.add-stck-input select:focus, .add-stck-input input:focus {
    outline: none;
    border-color: #4CAF50;
}

.add-stck-input button {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 58px; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.add-stck-inv {
    margin: 12px 32px 12px 32px ;
    padding: 12px 32px 12px 32px;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    border-radius: 16px;
    height: 38em;
    overflow-y: scroll;
}

.add-stck-item {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: 1px solid #4CAF50;
    border-radius: 12px;
}

.add-stck-item-div-1 {
    grid-row: span 2 / span 2;
    padding: 12px 32px 12px 32px;
    border: 1px solid #4CAF50;
}

.add-stck-item-div-3 {
    grid-column-start: 2;
}

.button-group-stock {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center;
    gap: 10px; /* Adjust the gap between buttons if needed */
}

.add-stck-add-btn {
    background-color: #6fa062;
    color: white !important;
    margin: 0px auto;
    border: none;
    border-radius: 64px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.add-stck-add-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.add-stck-cancel-btn,
.add-stck-add-btn {
    border-radius: 32px !important;
}

.incr-dcrn {
    display: flex;
    margin-bottom: 0.8rem;
}

.incr-dcrn input {
    width: 75%;
}

.ceiling-input,
.quantity-input {
    display: grid;
}

.quantity-input input,
.ceiling-input input {
    margin-bottom: 0.5rem !important;
}

.product-date {
    display: block;
}

.product-condition {
    display: flex;
    gap: 8px;
}

.incr-dcrn-edit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

/* Manage Orders */
.mng-ordr, 
.mng-ordr-title {
    display: block;
}

.mng-ordr-title {
    padding: 0px 32px 0px 32px;
    letter-spacing: -0.065rem;
    color: #252525;
}

.mng-ordr-title h3 {
    font-size: 1.0em;
    color: #6F6F6F !important;
    font-weight: 300;
    letter-spacing: 0em;
}

.mng-ordr-search {
    padding: 12px 32px 0px 32px;
    display: flex;
}

.mng-ordr-search input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.mng-ordr-search input:focus {
    outline: none;
    border-color: #4CAF50;
}

.mng-ordr-search button {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 58px; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.mng-ordr-inv {
    margin: 12px 32px 12px 32px ;
    padding: 12px 32px 12px 32px;
    border: 1px solid #4CAF50;
    background-color: #fafafa;
    border-radius: 16px;
}

.mng-ordr-item {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: 1px solid #4CAF50;
    border-radius: 12px;
}

.mng-ordr-item-div-1 {
    grid-row: span 2 / span 2;
    padding: 12px 32px 12px 32px;
    border: 1px solid #4CAF50;
}

.mng-ordr-item-div-3 {
    grid-column-start: 2;
}

.mng-ordr-add-btn {
    background-color: #6fa062;
    color: white;
    margin: 16px auto;
    padding: 1.0rem;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.mng-ordr-add-btn:hover {
    background-color: #45a049;
    color: #fff;
}

/* Modal Background */
.tooltip-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
/* Modal Content */
.tooltip-modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px !important;
    border-radius: 10px;
    width: 80%;
    max-width: 500px; /* Optional: max width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add Order */
.add-ordr, 
.add-ordr-title {
    display: block;
    overflow: scroll;
    margin-top: 16px;
}

.add-ordr-title {
    padding: 0px 32px 0px 32px;
    letter-spacing: -0.065rem;
    color: #252525;
}

.add-ordr-input {
    padding: 12px 32px 0px 32px;
    display: grid;
}

.add-ordr-input input, 
.add-ordr-input select {
    width: 100%;
    margin-bottom: 24px;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.add-ordr-input select:focus, .add-ordr-input input:focus {
    outline: none;
    border-color: #4CAF50;
}

.add-ordr-input button {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 58px; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.add-ordr-product {
    display: flex;
}

.add-more-ordr-product {
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height to make it a square */
    border-radius: 50%; /* Rounded corners */
    display: flex; /* Ensure that align-items works */
    justify-content: center; /* Center the content */
    justify-self: end; /* Align the button to the right of the grid cell */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
    align-self: center; /* Align with the label */
}

.add-ordr-inv {
    margin: 12px 32px 12px 32px ;
    padding: 12px 32px 12px 32px;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    border-radius: 16px;
    height: 38em;
    overflow-y: scroll;
}

.add-ordr-item {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: 1px solid #4CAF50;
    border-radius: 12px;
}

.add-ordr-item-div-1 {
    grid-row: span 2 / span 2;
    padding: 12px 32px 12px 32px;
    border: 1px solid #4CAF50;
}

.add-ordr-item-div-3 {
    grid-column-start: 2;
}

.button-group-stock {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center;
    gap: 10px; /* Adjust the gap between buttons if needed */
}

.add-ordr-add-btn {
    background-color: #6fa062;
    color: white !important;
    margin: 0px auto;
    border: none;
    border-radius: 64px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.add-ordr-add-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.add-ordr-cancel-btn,
.add-ordr-add-btn {
    border-radius: 32px !important;
}

.product-ordr {
    display: flex;
    gap: 8px;
}

.product-notes {
    display: grid;
}

.add-ordr-input-notes {
    display: grid;
}

.add-ordr-input-notes textarea {
    width: 100%;
    margin-bottom: 24px;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.add-ordr-input-notes textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

.add-ordr-input-notes button {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 58px; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.additional-notes {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

/* order */

.ordr, 
.ordr-title {
    display: block;
    overflow: scroll;
    margin-top: 16px;
}

.ordr-title {
    padding: 0px 32px 0px 32px;
    letter-spacing: -0.065rem;
    color: #252525;
}

.ordr-input {
    padding: 12px 32px 0px 32px;
    display: grid;
}

.ordr-input input, 
.ordr-input select {
    width: 100%;
    margin-bottom: 24px;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.ordr-input select:focus, .ordr-input input:focus {
    outline: none;
    border-color: #4CAF50;
}

.ordr-input button {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: 58px; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
}

.ordr-product {
    display: flex;
}

.ordr-price {
    padding: 12px 32px 0px 32px;
    display: grid;
}

.ordr-price-container {
    border: #FFF;
    align-items: center; /* Align the button content to the center */
    background-color: #6fa062;
    width: max-content; /* Adjust width */
    border-radius: 100px; /* Rounded corners */
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* More subtle, balanced shadow */
    margin-bottom: 24px;
}

.ordr-price-title {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    padding: 16px;
    margin-bottom: 0px !important;
}

body{padding: 0em;}
.sgsd-mail-success {
    text-align: left;
	background: #fff;
    font-family: 'Inter', sans-serif !important;
    letter-spacing: -0.050em;
}
.sgsd-mail-success .sgsd-success-inner {
	display: inline-block;
    padding: 32px;
}
.sgsd-mail-success .sgsd-success-inner h1 {
    font-size: 100px;
	text-shadow: 3px 5px 2px #3333;
	color: #82b370;
	font-weight: 700;
}
.sgsd-mail-success .sgsd-success-inner h1 span {
	display: block;
	font-size: 0.35em;
	color: #545454;
	font-weight: 600;
	text-shadow: none;
	margin-top: 20px;
    font-weight: 800;
}
.sgsd-success-inner i {
    font-size: 0.75em;
}
.sgsd-mail-success .sgsd-success-inner p {
    color: #7c8089;
}
.sgsd-mail-success .sgsd-success-inner .btn{
	color:#fff;
}

/* Admin Title */
.admin-title h3 {
    display: block;
    overflow-y: scroll;
}

.admin-title {
    padding: 0px 16px 0px 16px;
    letter-spacing: -0.065rem;
    color: #252525;
}

.admin-title h3 {
    font-size: 1.0em;
    color: #6F6F6F !important;
    font-weight: 300;
    letter-spacing: 0em;
}

.admin {
    width: 100%;
    padding: 32px;
  
    display: grid;
    grid:
      "admin-main" 1fr
      / 1fr;
    gap: 8px;
  }
  
  .admin-main { grid-area: admin-main; 
}

.text-muted {
    font-size: 1.0em;
    color: #6F6F6F !important;
    font-weight: 300;
    line-height: 1.5; /* Adjusted vertical spacing */
}


/* Media query for medium devices */
@media (max-width: 480px) {
    .sgsd-mail-success .sgsd-success-inner {
        padding: 16px; /* Adjust padding for smaller screens */
    }
    .sgsd-mail-success .sgsd-success-inner h1 {
        font-size: 60px; /* Reduce font size for smaller screens */
    }
    .sgsd-mail-success .sgsd-success-inner h1 span {
        font-size: 0.5em; /* Adjust span font size */
    }
}


.container-mail {
    background-color: #f2f4f0; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 32px; /* Padding for inner content */
    margin: 20px auto; /* Center the container */
    max-width: 600px; /* Maximum width for the container */
}

/* Responsive adjustments */

@media (max-width: 768px) {
    .main-header {
        padding: 0.8rem 1rem;
    }
    
    .logo {
        height: 32px;
    }

    .ceiling-input,
    .quantity-input {
        display: grid;
    }
    
@media (max-height: 440px) {
    .sidebar-items {
        overflow-y: scroll;
    }
}
}

@media (max-width: 480px) {
    .login-container {
        margin: 1rem;
        padding: 1.5rem;
    }

    .sgsd-redirect {
        font-size: 1rem;
        text-align: center;
    }
    .form-group-signup-name {
        display: block !important;
    }
    .dashboard-title {
        font-size: 0.9rem; /* Adjust the font size */
        margin: 0.5rem 0; /* Adjust margins if needed */
        height: auto; /* Control the height */
        width: auto; /* Control the width */
    }
    .btn-group {
        display: flex;
        justify-content: center; /* Center the buttons horizontally */
        align-items: center; /* Center the buttons vertically (if necessary) */
        margin: 10px 0;
        background-color: #f4f9f8;
        width: 100%; /* Ensure the group takes full width */
    }
    .btn-group .btn {
        padding: 0.6rem 0.4rem; /* Further decrease padding */
        font-size: 0.8rem; /* Further decrease font size */
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        border: 2px solid #333; /* Border for the entire grid container */
        padding: 10px; /* 25px for top/bottom, 10px for left/right */
    }
    .div4 {
        grid-column: 2;
    }
    
    .div5 {
        grid-column-start: 1;
    }   
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 12px;
    letter-spacing: -0.050em !important;
    border-radius: 10px;
    padding: 12px;
    border: none; white-space: nowrap;
    background-color: #6fa062;
    transition: transform 0.3s;
}
.add-btn:hover {
    transform: scale(1.05);
}