@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.main-header {
    width: 100%;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
}

.main-nav {
    font-family: 'Inter', sans-serif !important;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.sgsd-redirect {
    text-decoration: none;
    color: #545454;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.logo {
    height: 40px;
    width: auto;
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.login-container {
    padding: 3rem;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.logo-container {
    display: flex;
    justify-content: left;
    margin-bottom: 0.2rem;
}
.logo-container .logo {
    height: 60px;
    width: auto;
}

.main-heading {
    color: #545454;
    text-align: left;
    margin-bottom: 0.5rem;
    letter-spacing: -0.10rem;
    font-weight: 800;
}

.sub-heading {
    color: #787878;
    text-align: left;
    margin-bottom: 3rem;
}

/* Form Group Controller for Login, Forgot Password, and New Password */

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #545454;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.form-group input:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Form Group for Signup */

.form-group-signup {
    display:grid;
    max-width: 600px; 
}

.form-group-signup-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group-signup,
.form-field-signup {
    margin-bottom: 1.5rem;
}

.form-group-signup label {
    display: block;
    color: #545454;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.form-group-signup input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 1rem;
    color: #545454;
}

.form-group-signup input:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Form group select */

.form-field-signup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: #333;
}

.form-field-signup label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field-signup select {
    padding: 1em;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    transition: border-color 0.3s ease;
}

.form-field-signup select:focus {
    border-color: #4caf50;
    outline: none;
}

/* Button Group */

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-btn {
    background-color: #6fa062;
    color: white;
    padding: 1.4rem;
    border: none;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.forgot-btn {
    background: none;
    border: none;
    color: #9cb297;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.forgot-btn:hover {
    color: #45a049;
}

.signup-btn {
    background: none;
    border: none;
    color: #9cb297;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.06rem;
}

.signup-btn:hover {
    color: #45a049;
}

.signup-cont-btn {
    background-color: #6fa062;
    color: white !important;
    padding: 1.4rem;
    border: none;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.signup-cont-btn:hover {
    background-color: #45a049;
    text-decoration: underline;
}


.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    color: #545454;
    opacity: 0.5;
}

.request-btn {
    background-color: #6fa062;
    color: white;
    padding: 1.4rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.request-btn:hover {
    background-color: #45a049;
    color: #fff;
}

.back-btn {
    background-color: #f1fdee;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 1.4rem;
    border-radius: 12px;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.06rem;
    color: #3e6b32;
    transition: background-color 0.3s;
}

.back-btn:hover {
    color: #45a049;
    background-color: #d7fcca;
}

/* Sidebar for Dashboard */

aside {
    font-family: 'Inter', sans-serif;
}

/* Sidebar */

.sidebar {
    width: 250px;
    height: 55vh;
    background-color: #f2f4f0;
    position: center;
    top: 0;
    left: 0;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 16px;
    
}

.sidebar-header {
    font-size: 0.6em !important;
    color: #545454;
    letter-spacing: -0.07em;
    font-weight: 600;
    padding: 1rem;
}

.sidebar ul {
    list-style-type: none;
    margin-left: -0.7em;
    padding: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}
.sidebar ul li {
    margin: 1.5rem 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #545454;
    font-weight: 600;
    position: relative;
    padding: 12px;
    letter-spacing: -0.057em;
    transition: transform 0.2s;
}
    .sidebar ul li a:hover {
        color: #545454;
    }
    .sidebar ul li a::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: #000;
        border-radius: 100px;
        transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s;
        z-index: -1;
    }
    .sidebar ul li a:hover::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .sidebar ul li a:hover {
        color: #FFF !important;
        transform: scale(1.1);
    }
.sidebar-profile-usr {
    display:flex;
}
.sidebar-profile {
    display: block;
    letter-spacing: -0.068em;
}
.sidebar-profile h1 {
    font-size: 1.1em !important;
    font-weight: 700;
}

.sidebar-profile h3 {
    font-size: 0.8em !important;
    color: #787878 !important;
}

.sidebar-profile-exit-icon,
.sidebar-profile-exit {
    text-align: right;
}

/* Dashboard */

.dashboard {
    display: block;
}
.dashboard-title {
    padding: 32px;
}

.dashboard h1 {
    font-size: 2.1em;
}

/* Hide the default radio button circle */
input[type="radio"].btn-check {
    display: none;
}

/* Style the labels to look like buttons */
input[type="radio"].btn-check:checked + label {
    background-color: #6b9d61; /* Active color */
    color: white;
    border-color: #6b9d61;
}

input[type="radio"].btn-check + label {
    border-color: #6b9d61;
    color: #6b9d61;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style when hovered */
input[type="radio"].btn-check + label:hover {
    border-color: #6b9d61;
    background-color: #6b9d61; /* Hover color */
    color: white;
}

/* Style for radio button group container */
.btn-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #f4f9f8;
}
.btn-group .btn {
    color: #6F6F6F;
    width: 100%; /* Make buttons stretch to fit the container */
    text-align: center;
    padding: 0.5rem 1rem;
}
.input[type="radio"].btn-check:checked + label {
    border-radius: 5px;
}
.dashboard-summary {
    display: grid;
    padding: 0px 32px 0px 32px;
}
/* Responsive adjustments */

@media (max-width: 768px) {
    .main-header {
        padding: 0.8rem 1rem;
    }
    
    .logo {
        height: 32px;
    }
    
}

@media (max-width: 480px) {
    .login-container {
        margin: 1rem;
        padding: 1.5rem;
    }

    .sgsd-redirect {
        font-size: 1rem;
        text-align: center;
    }
    .form-group-signup-name {
        display: block !important;
    }
    .dashboard-title {
        font-size: 0.7rem; /* Adjust the font size */
        margin: 0.5rem 0; /* Adjust margins if needed */
        height: auto; /* Control the height */
        width: auto; /* Control the width */
    }
    .btn-group .btn {
        padding: 0.6rem 0.4rem; /* Further decrease padding */
        font-size: 0.8rem; /* Further decrease font size */
    }
}

