@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
}
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
.badge {
    font-size: 0.8rem;
    padding: 5px 8px;
    border-radius: 8px;
}
.nav-pills .nav-link {
    border-radius: 8px;
    font-weight: 500;
}
.nav-pills .nav-link.active {
    background-color: #28a745;
    color: white;
}
.chart-container {
    height: 200px; display: flex; align-items: center; justify-content: space-between; /* Adjust for better spacing */
    width: 100%;
}

h1, h5 {
    color: #333;
}

.active {
    background-color: #6b9d61 !important;
}

.inactive {
    color: #6f6f6f;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    color: #545454;
    opacity: 0.5;
}

.red {
    color: #ffffff;
    background-color: #ff5757;
}

.green {
    color: #ffffff;
    background-color: #6b9d61;
}

.display-4 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}


/* Add these styles to your CSS file */

@media (max-width: 768px) {
    .pie-chart-container {
        height: 150px; /* Adjust height for smaller screens */
    }

    /* Position the legend at the bottom for mobile screens */
    .pie-chart-container .chartjs-legend {
        position: static;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }

    /* Ensure the legend items are displayed properly */
    .pie-chart-container .chartjs-legend li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 5px;
        max-width: 100px; /* Adjust max-width as needed */
    }
}

/* Ensure the legend does not get covered by the pie chart */
.pie-chart-container .chartjs-legend {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px; /* Adjust max-width as needed */
    padding-right: 10px;
    box-sizing: border-box;
}

.pie-chart-container .chartjs-legend li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
